<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <form action="/form-data" method="post">
      <input type="text" placeholder="Shahzad" name="name" />
      <input type="email" placeholder="example@gmail.com" name="email" />
      <input type="password" placeholder="password" name="password" />
<input type="password" placeholder="password" name="password" />
      <input type="submit" >
    </form>

    <script src="index.js"></script>
  </body>
</html>